<header>
    <nav class="navbar">
        <div class="container-fluid">
            <span class="navbar-brand logo col-1">
                <a routerLink="/">
                    <img src="assets/images/logo.png" alt="Logo Dorothy Piauí" width="50" height="50" />
                </a>
            </span>

            <div class="navbar-nav col-10">
                <span><a class="nav-link active" aria-current="page" routerLink="/">Página Inicial</a></span>
                <span><a class="nav-link" routerLink="/projetos">Projetos</a></span>
                <span><a class="nav-link" routerLink="/participacoes">Participações</a></span>
                <span><a class="nav-link" routerLink="/contato">Contato</a></span>
                <span><a class="nav-link" routerLink="/sobre-nos">Sobre nós</a></span>
            </div>
        </div>
    </nav>
</header>