<footer>
    <div class="container">
        <div class="esquerdo col-md-4 align-items-center">
            <span>
                <a href="/" class="logo">
                    <img src="assets/images/logo.png" alt="Logo Dorothy Piauí" width="50" height="50" />
                </a>
            </span>
            <span>
                <a href="https://meninas.sbc.org.br/" target="_blank">
                    <img src="assets/images/logo-meninasdigitais.png" alt="Logo Meninas Digitais" width="244" />
                </a>
            </span>
        </div>
        <div class="col-md-4 centro justify-content-center align-items-center">
            <p>{{returnaAno}} &copy; Dorothy Piauí</p>
        </div>
        <div class="direito col-md-4 justify-content-end align-items-center">
            <span>
                <a href="https://www.instagram.com/dorothypiaui/" target="_blank">
                    <img src="assets/images/icons/Instagram1.png" alt="Instagram" width="30" height="30" />
                </a>
            </span>
            <span>
                <a href="https://www.linkedin.com/company/dorothy-piaui/" target="_blank">
                    <img src="assets/images/icons/LinkedIn1.png" alt="LinkedIn" width="30" height="30" />
                </a>
            </span>
            <span>
                <a href="https://github.com/Dorothy-Piaui" target="_blank">
                    <img src="assets/images/icons/GitHub1.png" alt="GitHub" width="30" height="30" />
                </a>
            </span>
            <span>
                <a href="mailto:dorothypiaui@gmail.com" target="_blank">
                    <img src="assets/images/icons/Gmail1.png" alt="Gmail" width="30" height="30" />
                </a>
            </span>
        </div>
    </div>
</footer>