<footer>
    <div class="footer">
        <div class="esquerdo justify-content-start">
            <span>
                <a href="/" class="logo">
                    <img src="assets/images/logo.png" alt="Logo Dorothy Piauí" width="50" height="50" />
                </a>
            </span>
            <span>
                <a href="https://meninas.sbc.org.br/" target="_blank">
                    <img src="assets/images/Logo-MeninasDigitais.png" alt="Logo Meninas Digitais" width="244" />
                </a>
            </span>
        </div>
        <div class="centro justify-content-center">
            <p>{{returnaAno}} &copy; Dorothy Piauí</p>
        </div>
        <div class="direito justify-content-end">
            <span>
                <a href="https://www.instagram.com/dorothypiaui/" target="_blank">
                    <img class="instagram" src="assets/images/icons/instagram-red.png" alt="Instagram" width="25"
                        height="25" />
                </a>
            </span>
            <span>
                <a href="https://www.linkedin.com/company/dorothy-piaui/" target="_blank">
                    <img class="linkedin" src="assets/images/icons/linkedin-red.png" alt="LinkedIn" width="25"
                        height="25" />
                </a>
            </span>
            <span>
                <a href="https://github.com/Dorothy-Piaui" target="_blank">
                    <img class="github" src="assets/images/icons/github-red.png" alt="GitHub" width="25" height="25" />
                </a>
            </span>
            <span>
                <a href="mailto:dorothypiaui@gmail.com" target="_blank">
                    <img class="gmail" src="assets/images/icons/gmail-red.png" alt="Gmail" width="25" height="25" />
                </a>
            </span>
        </div>
    </div>
</footer>