<div class="container">
    <h1>Contate-nos</h1>

    <div class="redes d-flex flex-row justify-content-center">
        <div class="card">
            <a routerLink="https://www.instagram.com/dorothypiaui/" target="_blank">
                <img src="/assets/images/icons/Instagram2.png" alt="Instagram">
            </a>
            <div class="card-body">
                <h5 class="card-title">Instagram</h5>
                <p class="card-text">&#64;dorothypiaui</p>
            </div>
        </div>
        <div class="card">
            <a routerLink="https://www.linkedin.com/company/dorothy-piaui/" target="_blank">
                <img src="/assets/images/icons/LinkedIn2.png" alt="Linkedin">
            </a>
            <div class="card-body">
                <h5 class="card-title">LinkedIn</h5>
                <p class="card-text">&#64;dorothy-piaui</p>
            </div>
        </div>
        <div class="card">
            <a routerLink="mailto:dorothypiaui@gmail.com" target="_blank">
                <img src="/assets/images/icons/Gmail2.png" alt="Facebook">
            </a>
            <div class="card-body">
                <h5 class="card-title">Email</h5>
                <p class="card-text">dorothypiaui&#64;gmail.com</p>
            </div>
        </div>
    </div>

    <div class="form">
        <h4>Mande uma mensagem</h4>
        <div class="d-flex flex-row justify-content-between">
            <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="d-flex flex-row justify-content-between">
            <input type="tel" class="form-control" formControlName="telefone" placeholder="Telefone">
            <input type="text" class="form-control" formControlName="assunto" placeholder="Assunto">
        </div>
        <div class="d-flex flex-row justify-content-center">
            <textarea class="form-control" formControlName="mensagem" placeholder="Mensagem" rows="5"></textarea>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <button type="submit" class="btn">Enviar</button>
        </div>
    </div>


</div>