<div class="cafe-1 d-flex flex-column align-items-center">
    <h1>I Café com Tech</h1>
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column descricao">
            <p>
                O I Café com Tecnologia contou com palestras ministradas por profissionais mulheres nas áreas de
                Desenvolvimento, Ciência de Dados, Governança da Internet, Empreendedorismo e Inovação na Pesquisa.
            </p>
            <p>
                O evento teve como objetivo atrair mulheres interessadas em tecnologia e pesquisa, proporcionando
                oportunidades de networking e inspiração. Além disso, foi uma celebração do Dia Internacional das
                Mulheres e uma calorosa recepção às calouras do Curso de Ciência da Computação (UFPI).
            </p>
            <div class="infos">
                <div class="data d-flex flex-row py-2 align-items-center">
                    <div class="data-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-calendar-event" viewBox="0 0 16 16">
                            <path
                                d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                        </svg>
                    </div>
                    <p class="px-3">16 de Março de 2024</p>
                </div>
                <div class="horario d-flex flex-row py-2 align-items-center">
                    <div class="horario-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-alarm-fill" viewBox="0 0 16 16">
                            <path
                                d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5m2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.04 8.04 0 0 0 .86 5.387M11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.04 8.04 0 0 0-3.527-3.527" />
                        </svg>
                    </div>
                    <p class="px-3">8 hrs às 13hrs</p>
                </div>
                <div class="local d-flex flex-row py-2 align-items-center">
                    <div class="local-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                        </svg>
                    </div>
                    <p class="px-3">Auditório da Matemática CCN-UFPI</p>
                </div>
                <div class="publico d-flex flex-row py-2 align-items-center">
                    <div class="publico-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path
                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                        </svg>
                    </div>
                    <p class="px-3">Mulheres e pessoas não-binárias interessadas nas áreas de tecnologia,
                        empreendedorismo, pesquisa e inovação.</p>
                </div>
            </div>
        </div>
        <img class="banner" src="assets/images/realizacoes/bannerCafe1.png" alt="Café com Tech I" width="350px"
            height="350px">
    </div>

    <div class="cronograma d-flex flex-column ">
        <h1>Cronograma</h1>
        <div class="horario d-flex flex-column">
            <div class="d-flex flex-row">
                <p class="hora">8:00h</p>
                <p class="atividade">Abertura do evento</p>
            </div>
            <div class="d-flex flex-row">
                <p class="hora">8:30h</p>
                <p class="atividade">
                    Palestra "Era uma vez uma Deva..." por Anne Carolinne Galdino
                </p>
            </div>
            <div class="d-flex flex-row">
                <p class="hora">9:20h</p>
                <p class="atividade">
                    "Governança da Internet: Introdução e perspectivas de uma bolsista Youth CGI.br",
                    por Ana Carolina Dias.
                </p>
            </div>
            <div class="d-flex flex-row">
                <p class="hora">10:10h</p>
                <p class="atividade">Pausa para o café</p>
            </div>
            <div class="d-flex flex-row">
                <p class="hora">10:50h</p>
                <p class="atividade">
                    "Explorando Técnicas Avançadas de Ciência de Dados para Melhorar a Recuperação de
                    Imagens Baseada em Conteúdo", por Karoline Farias.
                </p>
            </div>
            <div class="d-flex flex-row">
                <p class="hora">11:40h</p>
                <p class="atividade">
                    "Inovação com igualdade: promovendo a presença feminina no empreendedorismo", pelas
                    agentes Grupo de Agentes Acadêmicos de Inovação (GAAI) do Programa InovaUFPI.
                </p>
            </div>
        </div>

    </div>

    <div class="patrocinadores d-flex flex-column text-center">
        <h1>Patrocinadores</h1>
        <div class="patrocinadores-image d-flex flex-row justify-content-between">
            <img src="assets/images/patrocinadores/bego.png" alt="Bego" width="150px" height="150px">
            <img src="assets/images/patrocinadores/virtu.png" alt="Virtu" width="150px" height="150px">
        </div>
    </div>
</div>