<div class="participacoes d-flex flex-column align-items-center">
    <h1 class="titulo-secao">Participações em Eventos</h1>
    <div class="evento d-flex flex-row justify-content-between">
        <div class="d-flex flex-column descricao">
            <h2 class="participacao-titulo">20&#170; Semana Nacional de Ciência e Tecnologia</h2>
            <p class="text-justify">
                Em 17 de novembro de 2023, o projeto Dorothy Piauí teve a oportunidade de apresentar diversas
                atividades à comunidade durante o evento "Portas Abertas", parte da programação da 20ª SNCT (Semana
                Nacional de Ciência e Tecnologia).
            </p>
            <p class="text-justify">
                Entre as atividades apresentadas, destacaram-se:
            </p>
            <ul>
                <li>
                    Jogos que estimulavam o pensamento computacional;
                </li>
                <li>
                    A exposição de mulheres e pessoas transexuais que desempenharam papéis significativos na
                    história da
                    tecnologia;
                </li>
                <li>
                    Dicas sobre como os adolescentes e crianças devem utilizar a Internet de forma segura;
                </li>
                <li>
                    Um exemplo prático do uso de algoritmos com a demonstração de uma câmera projetada para auxiliar
                    pessoas com baixa visão;
                </li>
                <li>
                    Explicações sobre o funcionamento da Internet.
                </li>

            </ul>

            <p class="text-justify">
                O mais importante, no entanto, foi a troca de experiências com estudantes do ensino médio, que
                enriquecem tanto o aprendizado quanto a reflexão sobre o futuro tecnológico e inclusivo.
            </p>

        </div>
        <img class="banner" src="assets/images/eventos/snct.png" alt="SNCT" width="350px" height="350px">
    </div>
    <div class="evento d-flex flex-row justify-content-between">
        <img class="banner" src="assets/images/eventos/CPWeekendPI.jpg" alt="CPWeekend Piauí 2024" width="350px">
        <div class="d-flex flex-column descricao">
            <h2 class="participacao-titulo">Campus Weekend Piauí 2024</h2>
            <p class="text-center">
                
                A atividade consistiu em uma mesa redonda com as integrantes Ana Letícia, Lúcia de Fátima e Milena
                Arysa, com o título <strong>"Código e Sororidade: A Experiência na Comunidade de Tecnologia com Inclusão de Gênero"</strong>,
                na qual elas compartilharam suas experiências individuais em suas áreas acadêmica e
                profissional. Durante a discussão, destacaram como essas vivências têm contribuído para o contexto
                coletivo de Inclusão de Gênero na Tecnologia.
            </p>
            <p class="text-center">
                Foi um momento rico em trocas de experiências, aprendizado e inspiração, reforçando a importância de
                iniciativas que promovam a diversidade no setor tecnológico.
            </p>
            <p class="text-center">
                Agradecemos ao GDG Parnaíba pela oportunidade de participar e a todos os que nos prestigiaram com
                sua presença.
            </p>
        </div>
    </div>
    <div class="evento d-flex flex-row justify-content-between">
        <div class="d-flex flex-column descricao">
            <h2 class="participacao-titulo">II Semana da Diversidade da Estácio Teresina</h2>
            <p class="text-justify">
                No dia 17 de outubro de 2024, nossas ilustres Larissa Brasil e Thayssa Fernanda tiveram a honra de
                representar o projeto Dorothy Piauí em uma palestra especial, realizada a convite da PEI Estácio
                Teresina, durante a II Semana da Diversidade da instituição.
            </p>
            <p class="text-justify">
                Intitulada <strong>"Desbugando Estereótipos: Desmistificando o Papel das Mulheres no Mundo Tecnológico"</strong>, a
                palestra destacou a importância de quebrar preconceitos e incentivar a inclusão de mulheres no setor
                tecnológico. Foi um momento único de troca e aprendizado, onde os ideais do Dorothy Piauí foram
                compartilhados, mostrando como se alinham perfeitamente com os valores promovidos pelo evento.
                Esse encontro reforçou a relevância de iniciativas como o Dorothy Piauí na construção de um setor
                tecnológico mais inclusivo e igualitário, além de inspirar os participantes a abraçar a diversidade
                como motor de inovação e progresso.
            </p>
        </div>
        <img class="banner" src="assets/images/eventos/SD-Estácio-The.png" alt="II Semana da Diversidade da Estácio Teresina" width="350px" height="350px">
    </div>
</div>