.cafe-2{
    margin: 0;
    padding: 60px 70px 60px 70px; 
    background-color: var(--cor5);
    width: 100%;
    height: 100%;
}

.cafe-2 h1, .patrocinadores h1{
    font-family: var(--font1);
    font-size: var(--font-size4);
    color: var(--cor1);
    font-weight: var(--font-weight1);
    padding-bottom: 60px;
}

.cafe-2 img{
    border-top-left-radius: 120px;
    border: 1px solid var(--cor8);
}

.descricao{
    font-family: var(--font2);
    font-size: var(--font-size3);
    color: var(--cor4);
    font-weight: var(--font-weight2);
    width: 60%;
}

.descricao p{
    margin: 0;
    padding-bottom: 10px;
}

.descricao svg{
    display: flex;
    justify-content: center;
    color: var(--cor2);
    text-align: center;
}

.infos{
    padding-top: 20px;
    width: 70%;
}

.infos p{
    font-family: var(--font1);
    font-weight: var(--font-weight1);
    font-size: var(--font-size3);
    color: var(--cor4);
    padding: 0;
}

.publico .publico-icon,
.local .local-icon,
.data .data-icon,
.horario .horario-icon, 
.descricao svg{
    width: 40px;
    height: 40px;
}

.cronograma{
    width: 80%;
    border: 3px solid var(--cor8);
    border-bottom: 6px solid var(--cor8);
    border-right: 6px solid var(--cor8);
    border-radius: 10px;
    margin-top: 60px;
}

.cronograma h1{
    color: var(--cor5);
    font-weight: var(--font-weight1);
    padding: 10px;
    margin: 0;
    border-bottom: 6px solid var(--cor8);
    background-color: var(--cor2);
    border-radius: 5px  5px 0 0;
}

.cronograma .horario{
    padding-bottom: 30px;
    padding-top: 15px;
}

.cronograma .horario .d-flex{
    padding: 15px 30px 0 30px;
    align-items: center;
}

.cronograma .hora, .cronograma .atividade{
    font-family: var(--font1);
    font-weight: var(--font-weight1);
    font-size: var(--font-size3);
    color: var(--cor4);
    padding: 5px 10px 5px 10px;
    margin: 0;
    border: 2px solid var(--cor8);
    border-bottom: 3px solid var(--cor8);
    background-color: var(--cor6);
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.cronograma .hora {
    background-color: var(--cor2);
    height: 37px;
    width: 67px;
    margin-right: 30px;
}

.cronograma .atividade{
    width: 100%;
    text-align: start;
}

.patrocinadores{
    padding-top: 60px;
}

.patrocinadores h1{
    padding: 0;
    margin: 0;
}

.patrocinadores img{
    border: none;
    border-radius: 0;
}

.patrocinadores-image{
    padding-top: 30px;
    width: 330px;
}