<div class="projetos d-flex flex-column align-items-center">
    <h1>Projetos</h1>
    <div class="cafe-1 d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column descricao">
                <h2>Café com Tech I</h2>
                <p>
                    O I Café com Tecnologia contou com palestras ministradas por profissionais mulheres nas áreas de
                    Desenvolvimento, Ciência de Dados, Governança da Internet, Empreendedorismo e Inovação na Pesquisa.
                </p>
                <button type="button" class="btn" [routerLink]="['/projetos/cafe-com-tech1']">
                    Saiba mais
                </button>
            </div>
            <img class="banner" src="assets/images/realizacoes/bannerCafe1.png" alt="Café com Tech I" width="350px">
        </div>
    </div>

    <div class="cafe-2 d-flex flex-column">
        <div class="d-flex flex-row">
            <img class="banner" src="assets/images/realizacoes/bannerCafe2.png" alt="Café com Tech II" width="350px">
            <div class="d-flex flex-column descricao">
                <h2>Café com Tech II</h2>
                <p>
                    O II Café com Tecnologia contou com palestras ministradas por profissionais mulheres e estudantes
                    nas áreas de Segurança, Programação Competitiva, Comunidade dev , Empreendedorismo e Inovação na
                    Pesquisa.
                </p>
                <button type="button" class="btn"  [routerLink]="['/projetos/cafe-com-tech2']">
                    Saiba mais
                </button>
            </div>
        </div>
    </div>
</div>