:root {
    --cor1: #BF213E;
    --cor2: #F59520;
    --cor3: #F8EBDA;
    --cor4: #1C4443;
    --cor5: #FDFDFB;
    --cor6: #FCE0BD;
    --cor7: #8D933E;
    --cor8: #6B2D03;

    --font1: 'Oswald', sans-serif;
    --font2: 'Montserrat', sans-serif;

    --font-size1: 22px;
    --font-size2: 18px;
    --font-size3: 16px;
    --font-size4: 44px;
    --font-size5: 24px;

    --font-weight1: medium;
    --font-weight2: normal;
}

html,
body {
    height: 100%;
}