<div class="sobre-nos d-flex flex-column">
    <div class="dorothy d-flex flex-column">
        <h1>Quem foi Dorothy Vaughan?</h1>
        <div class="d-flex bloco flex-row justify-content-between">
            <img src="assets/images/Dorothy-Vaughan.jpg" alt="Dorothy Vaughan" width="400px" height="400px">
            <div class="d-flex flex-column descricao align-self-baseline">
                <p class="pb-2">
                    “Em uma era em que a NASA é liderada por um homem afro-americano (Charles Bolden) e uma mulher
                    (Administradora Adjunta Dava Newman), e quando os Diretores de Centro da NASA recentes vêm de uma
                    variedade de origens, é fácil ignorar as pessoas que pavimentaram o caminho para a atual força de
                    trabalho e liderança robusta e diversificada da agência. Aqueles que falam dos pioneiros da NASA
                    raramente mencionam o nome Dorothy Vaughan, mas como chefe da Unidade de Computação da Área Oeste
                    segregada do Comitê Consultivo Nacional para Aeronáutica (NACA) de 1949 a 1958, Vaughan foi um
                    matemático respeitado e o primeiro gerente afro-americano da NASA.”
                </p>
                <p class="text-end">
                    <a href="https://www.nasa.gov/people/dorothy-vaughan/" target="_blank">www.nasa.gov/people/dorothy-vaughan</a>
                </p>
            </div>
        </div>
    </div>

    <div class="quem-somos d-flex flex-column align-items-center">
        <h1>Quem somos?</h1>
        <div class="descricao">
            <p class="pb-2">
                Lorem ipsum dolor sit amet consectetur. Amet tellus dignissim magna varius. Vitae interdum neque
                pellentesque id arcu etiam. Dictum blandit felis tempus tellus ac fringilla. Cursus nunc massa
                rhoncus faucibus ultrices id psan magna adipiscing. Iaculis arcu amet suspendisse ac odio. Ultrices
                bibendum tristique sit massa et. Ullamcorper duis vitae mi facilisis convallis ut.
            </p>
            <p>
                Feugiat eget duis cursus convallis viverra sed natoque nunc. Lectus sed nunc aliquet in feugiat
                mattis. Rhoncus semper felis lacus condimentum. Lorem posuere placerat quis egestas. Malesuada
                rhoncus lectus malesuada nec eget tempor. Tellus auctor nisl et semper nunc ut. Natoque tellus
                tristique lobortis commodo. Senectus orci et nunc ornare. Odio faucibus arcu dolor convallis
                ultrices pulvinar. Quisque commodo vitae sit proin sem id sagittis velit.
            </p>
        </div>
        <img class="integrantes-foto" src="assets/images/participantes/welcome.jpg"
            alt="Integrantes no evento Café com Tech II">
    </div>

    <div class="integrantes d-flex flex-column align-items-center">
        <h1>Integrantes</h1>

        <h2>Diretoria Geral</h2>

        <div class="geral d-flex flex-row justify-content-between">
            <div class="integrante d-flex flex-column align-items-center">
                <div class="integrante-image">
                    <img src="assets/images/participantes/larissa-brasil.jpg" alt="Larissa Brasil" width="150px">
                </div>
                <h3 class="integrante-nome">Larissa Brasil</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            <div class="integrante d-flex flex-column align-items-center mx-4">
                <div class="integrante-image">
                    <img src="assets/images/participantes/Suzana-Silva.jpg" alt="Suzana Silva" width="150px">
                </div>
                <h3 class="integrante-nome">Suzana Silva</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            <div class="integrante d-flex flex-column align-items-center">
                <div class="integrante-image">
                    <img src="assets/images/participantes/Thayssa-Fernanda-Rodrigues-Alves.jpg" alt="Thayssa Fernanda"
                        width="150px">
                </div>
                <h3 class="integrante-nome">Thayssa Fernanda</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
        </div>
        
        <h2>Diretoria de Imprensa</h2>

        <div class="imprensa d-flex flex-wrap justify-content-between">
            <div class="integrante d-flex flex-column align-items-center">
                <div class="integrante-image">
                    <img src="assets/images/icons/menina.png" alt="Ana Carolline" width="150px">
                </div>
                <h3 class="integrante-nome">Ana Carolline</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            <div class="integrante d-flex flex-column align-items-center mx-4">
                <div class="integrante-image">
                    <img src="assets/images/participantes/IARA-VASCONCELOS-BARBOSA.jpg" alt="Iara Vasconcelos" width="150px">
                </div>
                <h3 class="integrante-nome">Iara Vasconcelos</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            <div class="integrante d-flex flex-column align-items-center">
                <div class="integrante-image">
                    <img src="assets/images/participantes/LAURA-APARECIDA-silva.webp" alt="Laura Aparecida"
                        width="150px">
                </div>
                <h3 class="integrante-nome">Laura Aparecida</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            <div class="integrante d-flex flex-column align-items-center mx-4">
                <div class="integrante-image">
                    <img src="assets/images/participantes/Lúcia-de-Fátima-Martins.JPEG" alt="Lúcia de Fátima" width="150px">
                </div>
                <h3 class="integrante-nome">Lúcia de Fátima</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            <div class="integrante d-flex flex-column align-items-center">
                <div class="integrante-image">
                    <img src="assets/images/participantes/Maria-Ingrid.jpg" alt="Maria Ingrid" width="150px">
                </div>
                <h3 class="integrante-nome">Maria Ingrid</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            <div class="integrante d-flex flex-column align-items-center mx-4">
                <div class="integrante-image">
                    <img src="assets/images/participantes/Monnik-Luianne.webp" alt="Monnik Luianne"
                        width="150px">
                </div>
                <h3 class="integrante-nome">Monnik Luianne</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            <div class="integrante d-flex flex-column align-items-center">
                <div class="integrante-image">
                    <img src="assets/images/participantes/Nicole-M.-Silvestre.webp" alt="Nicole Ellen"
                        width="150px">
                </div>
                <h3 class="integrante-nome">Nicole Ellen</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            <div class="integrante d-flex flex-column align-items-center mx-4">
                <div class="integrante-image">
                    <img src="assets/images/icons/menina.png" alt="Talita Matos" width="150px">
                </div>
                <h3 class="integrante-nome">Talita Matos</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            
        </div>

        <h2>Diretoria de Extensão e Eventos</h2>

        <div class="extensao d-flex flex-wrap justify-content-between">
            <div class="integrante d-flex flex-column align-items-center">
                <div class="integrante-image">
                    <img src="assets/images/participantes/Adélia-Carvalho.jpeg" alt="Adélia Mara" width="150px">
                </div>
                <h3 class="integrante-nome">Adélia Mara</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
            <div class="integrante d-flex flex-column align-items-center mx-4">
                <div class="integrante-image">
                    <img src="assets/images/participantes/Arielly-Cristiny.jpeg" alt="Arielly Cristiny" width="150px">
                </div>
                <h3 class="integrante-nome">Arielly Cristiny</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
        </div>

        <h2>Diretoria Financeira</h2>

        <div class="financeira d-flex flex-wrap justify-content-between">
            <div class="integrante d-flex flex-column align-items-center">
                <div class="integrante-image">
                    <img src="assets/images/participantes/Ana-Letícia.png" alt="Ana Letícia" width="150px">
                </div>
                <h3 class="integrante-nome">Ana Letícia</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
        </div>
        
        <h2>Diretoria de Produtos</h2>

        <div class="produtos d-flex flex-wrap justify-content-between">
            <div class="integrante d-flex flex-column align-items-center">
                <div class="integrante-image">
                    <img src="assets/images/participantes/Ana-Beatriz.jpg" alt="Ana Beatriz" width="150px">
                </div>
                <h3 class="integrante-nome">Ana Beatriz</h3>
                <p class="integrante-descricao">
                    Lorem ipsum dolor sit amet consectetur. Sit etiam convallis velit quam. Erat non fermentum ipsum
                    netus vitae convallis risus. Hac turpis orci a id orci.
                </p>
            </div>
        </div>

    </div>
</div>