<main>
    <header>
        <img loading="lazy" src="/assets/images/participantes/welcome.jpg" class="header-background" alt="" />
    </header>

    <section class="welcome">
        <div class="card text-center">
            <div class="card-body">
                <h1 class="card-title">Projeto Dorothy Piauí</h1>
                <p class="card-text">
                    Para contribuir com inclusão e diversidade de gênero na área de tecnologia,
                    um grupo de estudantes e professores de Ciência da Computação (UFPI) criou o
                    projeto Dorothy Piauí. Temos por objetivo realizar atividades de extensão
                    que promovam a permanência de estudantes e entrada de jovens mulheres e
                    pessoas trans do ensino básico e médio na ciência da computação.
                </p>
                <button type="button" class="btn" [routerLink]="['/sobre-nos']">
                    Saiba mais
                </button>
            </div>
        </div>
    </section>

    <section class="realizacoes">
        <ngb-carousel class="carousel slide">
            <div class="carousel-inner">
                <ng-template ngbSlide>
                    <div class="card evento1">
                        <div class="banner">
                            <img class="img1" src="/assets/images/realizacoes/bannerCafe1.png" alt="Café com Tech">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">I Café com Tech</h3>
                            <p class="card-text">
                                O I Café com Tecnologia contou com palestras ministradas por profissionais mulheres nas
                                áreas de
                                Desenvolvimento, Ciência de Dados, Governança da Internet, Empreendedorismo e Inovação
                                na
                                Pesquisa.
                            </p>
                            <button type="button" class="btn" [routerLink]="['/projetos/cafe-com-tech1']">
                                Saiba mais
                            </button>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="card evento2">
                        <div class="banner">
                            <img class="img1" src="/assets/images/realizacoes/bannerCafe1.png" alt="Café com Tech">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">II Café com Tech</h3>
                            <p class="card-text">
                                O II Café com Tecnologia contou com palestras ministradas por profissionais mulheres e
                                estudantes nas áreas de Segurança, Programação Competitiva, Comunidade dev ,
                                Empreendedorismo e
                                Inovação na Pesquisa.
                            </p>
                            <button type="button" class="btn" [routerLink]="['/projetos/cafe-com-tech2']">
                                Saiba mais
                            </button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </ngb-carousel>
    </section>

    <section class="participacoes text-center">
        <h1>Participações em eventos</h1>
        <div class="eventos d-flex flex-row justify-content-around">
            <div class="card">
                <img class="row" src="assets/images/eventos/snct.png" alt="SNCT">
                <div class="card-body">
                    <h5 class="card-title">20&#170; Semana Nacional de Ciência e Tecnologia</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet gravida
                        fermentum. Vestibulum dapibus eros dictum tortor maximus laoreet.
                    </p>
                    <button type="button" class="btn" [routerLink]="['/participacoes']">
                        <svg xmlns="/assets/images/icons/arrow-right.svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                        </svg>
                    </button>
                </div>

            </div>
            <div class="card">
                <img class="row cpweekend" src="assets/images/eventos/CPWeekendPI.jpg" alt="CPWeekend Piauí 2024">
                <div class="card-body">
                    <h5 class="card-title">Campus Weekend Piauí 2024</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet gravida
                        fermentum. Vestibulum dapibus eros dictum tortor maximus laoreet.
                    </p>
                    <button type="button" class="btn" [routerLink]="['/participacoes']">
                        <svg xmlns="/assets/images/icons/arrow-right.svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="card">
                <img class="row" src="assets/images/eventos/SD-Estácio-The.png" alt="II Semana da Diversidade da Estácio Teresina">
                <div class="card-body">
                    <h5 class="card-title">II Semana da Diversidade da Estácio Teresina</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet gravida
                        fermentum. Vestibulum dapibus eros dictum tortor maximus laoreet.
                    </p>
                    <button type="button" class="btn"  [routerLink]="['/participacoes']">
                        <svg xmlns="/assets/images/icons/arrow-right.svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>