/*Cabeçalho*/
header mat-toolbar {
    top: 0;
    display: flex;
    padding: 30px 70px 30px 70px;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

header mat-toolbar mat-toolbar-row {
    padding: 0 0 0 0;
}

.header-background {
    position: fixed;
    inset: 0;
    size: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(12%) opacity(90%) blur(1px);

}

.logo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.itens-menu span a {
    padding: 0 10px 0 0;
    position: relative;
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--font1);
    font-size: var(--font-size2);
    font-weight: var(--font-weight1);
}


/*Welcome*/
.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 70px 30px 70px;
}

mat-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}

mat-card-title {
    padding-bottom: 30px;
    font-size: var(--font-size4);
    color: var(--cor1);
    font-family: var(--font1);
    font-weight: var(--font-weight1);
    position: relative;
}


mat-card-content {
    padding-bottom: 30px;
    font-size: var(--font-size3);
    color: var(--cor5);
    font-family: var(--font2) !important;
    font-weight: var(--font-weight2);
    width: 61%;
    position: relative;
}

button {
    font-size: var(--font-size3);
    color: var(--cor3) !important;
    font-family: var(--font1);
    background-color: var(--cor1);
    font-weight: var(--font-weight1);
    width: 120px;
    height: 50px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/*Rodapé*/
footer {
    display: flex !important;
    flex-direction: row;
    padding: 30px 70px 30px 70px;
    background-color: var(--cor6);
    position: relative;
}

mat-toolbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer mat-toolbar .esquerdo span {
    padding-right: 30px;
}

footer mat-toolbar .direito span {
    padding-right: 10px;
}

footer mat-toolbar .esquerdo {
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
    padding: 0 0 0 0;
}

footer mat-toolbar .direito {
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;
    padding: 0 0 0 0;
}

