<header>
    <img loading="lazy" src="/assets/images/participantes/welcome.jpg" class="header-background" alt=""/>
    <mat-toolbar>
        <mat-toolbar-row>
            <span class="logo col-1">
                <a href="/">
                    <img src="assets/images/logo.png" alt="Logo Dorothy Piauí" width="50" height="50" />
                </a>
            </span>
            <div class="col-10 itens-menu text-center">
                <span><a href="/">Página Inicial</a></span>
                <span><a href="/projetos">Projetos</a></span>
                <span><a href="/contato">Contato</a></span>
                <span><a href="/sobre-nos">Sobre nós</a></span>
            </div>

            <div class="col-2">
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<section class="welcome">
    <div class="container text-center">
        <mat-card class="col">
            <mat-card-header class="row">
                <mat-card-title>Projeto Dorothy Piauí</mat-card-title>
            </mat-card-header>
            <mat-card-content class="row">
                Para contribuir com inclusão e diversidade de gênero na área de tecnologia,
                um grupo de estudantes e professores de Ciência da Computação (UFPI) criou o
                projeto Dorothy Piauí. Temos por objetivo realizar atividades de extensão
                que promovam a permanência de estudantes e entrada de jovens mulheres e
                pessoas trans do ensino básico e médio na ciência da computação.
            </mat-card-content>
            <mat-card-actions class="row">
                <button mat-button>
                    Saiba mais
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>



<footer>
    <mat-toolbar>
        <mat-toolbar-row class="esquerdo">
            <span>
                <a href="/">
                    <img src="assets/images/logo.png" alt="Logo Dorothy Piauí" width="100" height="100" />
                </a>
            </span>
            <span>
                <a href="https://meninas.sbc.org.br/" target="_blank">
                    <img src="assets/images/Logo-MeninasDigitais.png" alt="Logo Meninas Digitais" width="244" />
                </a>
            </span>
        </mat-toolbar-row>

        <mat-toolbar-row class="direito">
            <span>
                <a href="https://www.instagram.com/dorothypiaui/" target="_blank">
                    <img src="assets/images/icons/Instagram1.png" alt="Instagram" width="30" height="30" />
                </a>
            </span>
            <span>
                <a href="https://www.linkedin.com/company/dorothy-piaui/" target="_blank">
                    <img src="assets/images/icons/LinkedIn1.png" alt="LinkedIn" width="30" height="30" />
                </a>
            </span>
            <span>
                <a href="https://github.com/Dorothy-Piaui" target="_blank">
                    <img src="assets/images/icons/GitHub1.png" alt="GitHub" width="30" height="30" />
                </a>
            </span>
            <span>
                <a href="mailto:dorothypiaui@gmail.com" target="_blank">
                    <img src="assets/images/icons/Gmail1.png" alt="Gmail" width="30" height="30" />
                </a>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</footer>