main{
    background-color: var(--cor5);
}

/*Cabeçalho*/
.header-background {
    position: absolute;
    inset: 0;
    size: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(12%) opacity(90%) blur(1px);

}

/*Welcome*/
.welcome {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 70px 65px 70px;
}

.card {
    display: flex;
    width: 60%;
    padding-bottom: 30px;
    background-color: transparent;
    text-align: center;
    border: none;
}

.card-title {
    padding-bottom: 30px;
    font-size: var(--font-size4);
    color: var(--cor1);
    font-family: var(--font1);
    font-weight: var(--font-weight1);
}

.card-text {
    padding-bottom: 30px;
    font-size: var(--font-size3);
    color: var(--cor5);
    font-family: var(--font2) !important;
    font-weight: var(--font-weight2);
    position: relative;
}

button {
    font-size: var(--font-size3);
    color: var(--cor3) !important;
    font-family: var(--font1);
    background-color: var(--cor1);
    font-weight: var(--font-weight1);
    width: 120px;
    height: 50px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Realizações*/
.realizacoes {
    position: relative;
    padding: 60px 70px 60px 70px;
    margin: 0;
    background-image: url("/assets/images/onda.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.realizacoes .carousel-item{
    display: flex;
    flex-direction: column;
}
.realizacoes .evento1, .evento2{
    flex-direction: row;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.realizacoes .card-body{
    display: flex;
    padding-left: 100px; 
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}

.realizacoes .img1{
    width: 300px;
    height: 300px;
    border-radius: 10px !important;
    position: relative;   
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.realizacoes .card-title{
    font-size: var(--font-size4);
    color: var(--cor2);
    font-family: var(--font1);
    font-weight: var(--font-weight1);
    padding: 0;
}

.realizacoes .card-text{
    font-size: var(--font-size3);
    color: var(--cor4);
    font-family: var(--font2);
    font-weight: var(--font-weight2);
    padding: 30px 0 60px 0;
    text-align: start;
}

.realizacoes .btn{
    align-self: flex-end;
    font-size: var(--font-size3);
    color: var(--cor3) !important;
    font-family: var(--font1);
    background-color: var(--cor2);
    font-weight: var(--font-weight1);
    width: 120px;
    height: 50px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Participações*/
.participacoes {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 60px 70px 60px 70px !important;
    margin: 0;
}

.participacoes h1{
    font-size: var(--font-size4);
    color: var(--cor1);
    font-family: var(--font1);
    font-weight: var(--font-weight1);
    padding-bottom: 60px;
    text-align: start;
}

.participacoes .card{
    background-color: var(--cor3);
    width: 350px;
    height: fit-content;
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.participacoes .card-title{
    padding-top: 10px !important;
    font-size: var(--font-size1);
    color: var(--cor1);
    font-family: var(--font1);
    font-weight: var(--font-weight1);
}

.participacoes img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.participacoes .card-text{
    font-size: var(--font-size3);
    color: var(--cor4);
    font-family: var(--font2);
    font-weight: var(--font-weight2);   
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    justify-self: center;
}

.participacoes button{
    background-color: transparent;
}

.participacoes button svg{
    color: var(--cor1);
    width: 30px;
    height: 30px;
}