main{
    background-color: var(--cor5);
}

/*Cabeçalho*/
header .navbar {
    top: 0;
    display: flex;
    padding: 30px 70px 30px 70px; 
    width: 100%;
    height: 100%;
    max-width: 100%;
    justify-content: initial !important;
}

header .navbar .container-fluid {
    padding: 0 0 0 0;
    justify-content: initial !important;
}

.header-background {
    position: absolute;
    inset: 0;
    size: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(12%) opacity(90%) blur(1px);

}

.logo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-nav span a {
    padding: 0 10px 0 0;
    position: relative;
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--font1);
    font-size: var(--font-size2);
    font-weight: var(--font-weight1);
}


/*Welcome*/
.container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 70px 30px 70px;
}

mat-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}

mat-card-title {
    padding-bottom: 30px;
    font-size: var(--font-size4);
    color: var(--cor1);
    font-family: var(--font1);
    font-weight: var(--font-weight1);
    position: relative;
}


mat-card-content {
    padding-bottom: 30px;
    font-size: var(--font-size3);
    color: var(--cor5);
    font-family: var(--font2) !important;
    font-weight: var(--font-weight2);
    width: 61%;
    position: relative;
}

button {
    font-size: var(--font-size3);
    color: var(--cor3) !important;
    font-family: var(--font1);
    background-color: var(--cor1);
    font-weight: var(--font-weight1);
    width: 120px;
    height: 50px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Realizações*/


.realizacoes{
    position: relative;
    top: 35px;
    width: 100%;
    height: 500px;
    background-image: url("/assets/images/onda.png");
    background-size: cover;
    padding: 60px 70px 60px 70px;
}

.realizacoes .carousel{
    margin: 0 0 0 0;
}

.realizacoes .carousel-item{
    display: flex;
    flex-direction: column;
}
.realizacoes .evento1, .evento2{
    flex-direction: row;
    background-color: transparent;
    border: none;
}

.realizacoes .card-body{
    display: flex;
    padding-left: 100px; 
    display: flex !important;
    flex-direction: column;
}

.realizacoes .img1{
    width: 300px;
    height: 300px;
    border-radius: 10px !important;
    position: relative;   
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.realizacoes .card-title{
    font-size: var(--font-size4);
    color: var(--cor2);
    font-family: var(--font1);
    font-weight: var(--font-weight1);
    padding: 0 0 0 0;
}

.realizacoes .card-text{
    font-size: var(--font-size3);
    color: var(--cor4);
    font-family: var(--font2);
    font-weight: var(--font-weight2);
    padding: 30px 0 60px 0;
}

.realizacoes .btn{
    justify-content: end;
    font-size: var(--font-size3);
    color: var(--cor3) !important;
    font-family: var(--font1);
    background-color: var(--cor2);
    font-weight: var(--font-weight1);
    width: 120px;
    height: 50px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Participações*/
.participacoes {
    position: relative;
}

.participacoes .container{
    padding: 60px 70px 60px 70px;
    margin: 0 0 0 0;
    
}

.participacoes h1{
    font-size: var(--font-size4);
    color: var(--cor1);
    font-family: var(--font1);
    font-weight: var(--font-weight1);
    padding-bottom: 60px;
    text-align: start;
}

.participacoes .card{
    background-color: var(--cor3);
    width: 350px;
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.participacoes .card-title{
    padding-top: 10px !important;
    font-size: var(--font-size1);
    color: var(--cor1);
    font-family: var(--font1);
    font-weight: var(--font-weight1);
}

.participacoes img{
    width: 350px;
    height: 250px;
}

.participacoes .card-text{
    font-size: var(--font-size3);
    color: var(--cor4);
    font-family: var(--font2);
    font-weight: var(--font-weight2);   
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.participacoes button{
    background-color: transparent;
}

.participacoes button svg{
    color: var(--cor1);
    width: 30px;
    height: 30px;
}

/*Rodapé*/
footer {
    display: flex !important;
    flex-direction: row;
    padding: 30px 70px 30px 70px;
    background-color: var(--cor6);
    position: relative;
}

footer .esquerdo span, footer .direito span {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 0 10px 0 0;
}